/*------------------------
**------CREATE PAGE-------
**----------------------*/

html, body {
    font-family: Lato;
}

#content {
	background: url("/img/bg2.jpg");
    background-size: cover;
    background-position: center;
	color: white;
}

#main-content {
    margin-top: 1.5em;
}

.row p {
    letter-spacing: 2px;
}

.header{
	text-align: center;
}

.col-md-4 > p:first-child{
	font-size: 20pt;
}

#selector #headers-row p {
    letter-spacing: 6px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5em;
}

#selector .row {
    margin: 2em 10em;
    padding: 2em 1em;
    background: rgba(0, 0, 0, 0.75);
    box-shadow: 0 1px 15px #4286f4;
}

input[type="text"] {
    font-size: 1.4em;
    height: 2.5em;

    color: white;
    background: transparent;
}

#selector .row p {
    color: white;
    font-size: 2.25em;
}

label {
    color: #ddd;

    font-family: Montserrat;
    font-weight: normal;
    font-size: 1.5em;
}

.col-md-4 > .row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#minutes_song, #seconds_song{
    display: inline-block;
    margin: 0.2em;
	width: 8em;
	text-align: center;
}

#lyrics, #instr-dropdown, #key-dropdown{
	width: 100%;
	color: white;
}

#welcome{

    margin: 0;
    padding-top: 0.25em;
    padding-right: 1em;
    padding-bottom: 0.25em;

    letter-spacing: 1px;

    color: #232323;
    background: #fafafa;
    border-bottom: 4px solid #4286f4;

    font-size: 2em;
}

#app-name {
    font-size: 2em;
    font-family: Montserrat;
    letter-spacing: 6px;
    text-transform: uppercase;

    margin-left: 1em;
}

#selector .row .col-md-4 .row {
    margin: 0;
    padding: 0;
    background: transparent;
    box-shadow: 0 0 0;
}

#selector select {
    background: transparent;
    max-width: 250px;
    height: 3em;
    font-size: 1.25em;
    margin: auto;
}

#selector select option {
    color: black;
}

#create-btn {
    margin-top: 1.5em;

    color: white;
    background: rgb(49, 183, 80);
    border: 2px solid rgb(66, 244, 107);

    padding: 0.5em;
    font-size: 2em;
    font-weight: bold;

    text-transform: uppercase;
    letter-spacing: 3px;

}

#create-btn:hover {
    color: #333;
}

#hackathon-dreams {
    padding: 0;
    margin: 0;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.25em;
}

#numTracks {
    text-align: center;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 36px;
  width: 16px;
  border-radius: 30px;
  background: white;
  cursor: pointer;
  margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border: 2px solid white;
  border-radius: 1.3px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 0px;
  margin-top: 22px;
  padding: 0px;
  border: 0 none;
  background: transparent;
  color: transparent;
  overflow: visible;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
  border: none;
}

.col-md-2 label {
    font-size: 2em;
}

#create-btn {
    display: block;
    margin: auto;
}

#playlist-results {
    background: transparent;
    margin: 2em 12em;
}

.playlist-row {
    border: 2px solid white;
    border-radius: 3px;

    margin-top: 1em;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.playlist-row > * {
    margin: 0.5em 1em;
}

.playlist-row p {
    font-size: 1.75em;
}

.row-number {
    font-family: Montserrat;
    font-size: 3em !important;
    font-style: italic;
}

.song-title {
    margin-left: 5em;
    width: 35%;
}

.song-author {
    flex-grow: 1;
}

audio {
    width:260px;
    overflow: hidden;
    direction: ltl;
    border-top-right-radius: 0.5em 0.5em;
    border-bottom-right-radius: 1em 0.7em;
}

audio::-webkit-media-controls-panel {
    background: transparent;
}


audio::-webkit-media-controls-volume-slider {
    color: transparent;
    background: transparent;
}

.player {
    width: 64px;
    height: 64px;

    margin-right: 2em;
    background: url("/img/play.png");
}

.player.on {
    background: url("/img/pause.png");
}

.player.off {
    background: url("/img/play.png");
}

